[Desktop Entry]
Name=Date, Time & Calendar
Comment=Display the current time in the panel with a calendar popup
Type=Application
Exec=cosmic-applet-time
Terminal=false
Categories=ClawOS;
Keywords=ClawOS;Applet;Date;Time;Calendar;
Icon=com.clawos.AppletTime-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
# No shrink priority, as this applet is always visible when configured
