(
    name: "Document full-text search (Recoll)",
    description: "Syntax: docs <query>\nExample: docs season report 2025",
    query: (
        regex: "^(docs)\\s.*",
        help: "docs ",
        isolate: true,
    ),
    bin: (path: "docs"),
    icon: Name("system-search"),
)
