Source: cosmic-initial-setup
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just,
    libflatpak-dev,
    libinput-dev,
    libssl-dev,
    libudev-dev,
    libxkbcommon-dev,
    pkg-config,
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-initial-setup

Package: cosmic-initial-setup
Architecture: amd64 arm64
Depends:
    appstream-data-pop,
    apt-config-icons,
    apt-config-icons-hidpi,
    apt-config-icons-large,
    apt-config-icons-large-hidpi,
    cosmic-icons,
    ${misc:Depends},
    ${shlibs:Depends}
Description: COSMIC Initial Setup

Package: cosmic-initial-setup-casper
Architecture: amd64 arm64
Priority: extra
Depends: casper
Description: Disable COSMIC Initial Setup in casper
 Disable COSMIC Initial Setup when running in a live system with casper
