#!/usr/bin/make -f

export DESTDIR = debian/tmp

%:
	dh $@

override_dh_auto_clean:
	ischroot || just vendor

override_dh_auto_build:
	just disable-if-exists="/cdrom/casper/filesystem.squashfs" build-vendored

override_dh_auto_install:
	just rootdir=$(DESTDIR) install
