[Unit]
Description=ClawOS Greeter Daemon

[Service]
Type=dbus
BusName=com.clawos.Greeter
ExecStart=/usr/bin/cosmic-greeter-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
