[Unit]
Description=ClawOS Greeter
After=systemd-user-sessions.service plymouth-quit-wait.service cosmic-greeter-daemon.service
After=getty@tty1.service
Conflicts=getty@tty1.service
Wants=cosmic-greeter-daemon.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=greetd --config /etc/greetd/cosmic-greeter.toml
IgnoreSIGPIPE=no
SendSIGHUP=yes
TimeoutStopSec=30s
KeyringMode=shared
Restart=always
RestartSec=1

# Managed by debconf
#[Install]
#Alias=display-manager.service
