[Desktop Entry]
Type=Application
Name=ClawOS Initial Setup
Name[zh_CN]=初始设置
Name[ar]=الإعداد الأولي ل ClawOS
Name[cs]=Úvodní nastavení ClawOS
Name[hu]=Első Beállítás
Name[pl]=Wstępna konfiguracja ClawOS
Name[pt]=Ajustes Iniciais do ClawOS
Name[it]=Setup iniziale di ClawOS
Exec=cosmic-initial-setup
NoDisplay=true
Terminal=false
StartupNotify=true
StartupWMClass=com.clawos.InitialSetup
OnlyShowIn=COSMIC
