[Desktop Entry]
Type=Application
Name=COSMIC Initial Setup
Name[zh_CN]=COSMIC 初始设置
Name[ar]=الإعداد الأولي ل COSMIC
Name[cs]=Úvodní nastavení COSMIC
Name[hu]=COSMIC Első Beállítás
Name[pl]=Wstępna konfiguracja COSMIC
Name[pt]=Ajustes Iniciais do COSMIC
Name[it]=Setup iniziale di COSMIC
Exec=cosmic-initial-setup
NoDisplay=true
Terminal=false
StartupNotify=true
StartupWMClass=com.system76.CosmicInitialSetup
OnlyShowIn=COSMIC
