[Desktop Entry]
Name=User Session
Comment=Lock screen, log out, suspend, reboot, and shutdown
Type=Application
Exec=cosmic-applet-power
Terminal=false
Categories=ClawOS;
Keywords=ClawOS;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;
Icon=com.clawos.AppletPower-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
