# Cargo
target/

# Debian
debian/*
!debian/rules
!debian/source
!debian/control
!debian/*postrm
!debian/*install
!debian/copyright
!debian/*postinst
!debian/*triggers
!debian/changelog


# Vendoring
.cargo/
vendor.tar
vendor/

# Nix
.direnv/
result*
