debian/*
!debian/cfs-tweak.service
!debian/changelog
!debian/control
!debian/copyright
!debian/cosmic-comp.install
!debian/postinst
!debian/rules
!debian/source
.cargo
target
vendor
!/vendor/
/vendor/*
!/vendor/README.md
!/vendor/smithay/
vendor.tar
.vscode
*.log
/result
