(
    name: "Recently-opened document search",
    description: "Syntax: recent <filename>\nExample: recent my-document.odt",
    category: Recent,
    query: (
        help: "recent ",
        isolate_with: "^(recent)\\s.*",
        persistent: true,
    ),
    bin: (path: "recent"),
    icon: Name("system-file-manager")
)
