[Desktop Entry]
Name=Files
Comment=File manager for the ClawOS desktop
Exec=cosmic-files %U
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicFiles
Categories=COSMIC;Utility;FileManager;
Keywords=Folder;Manager;
MimeType=inode/directory;
