<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Claw OS</vendor>
  <vendor_url>https://github.com/xiaoyu-work/claw-os</vendor_url>

  <action id="org.clawos.approval.decide">
    <description>Approve or deny a Claw OS agent action</description>
    <message>Authentication is required to decide an agent permission request</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/claw-approval-helper</annotate>
  </action>
</policyconfig>
